FIG-prop-vs-elo.pdf
FIG-prop-vs-splithalves-10.pdf
FIG-prop-vs-splithalves-20.pdf
FIG-prop-vs-splithalves-34.pdf
FIG-prop-vs-splithalves.pdf
FIG-prop-vs-ssr.pdf
FIG-ssr-vs-splithalves-10.pdf
FIG-ssr-vs-splithalves-20.pdf
FIG-ssr-vs-splithalves-34.pdf
FIG-ssr-vs-splithalves.pdf
