.Rproj.user
.Rproj.userX
.Rhistory
.RData
.Ruserdata
data-cache/*/split-halves*
data-cache/*/mcalc*
data-raw/*
*.bak
*.sav
20210304 HowToCJ IJ + BD.docx
0x-*
2021 CJ meta-analysis.Rproj
MS Form first draft from Ben.pdf
gk-private/*
verhavert/*
paper/*
